<template>
  <div id="home">
    <el-menu
      :collapse="isCollapse"
      :router="true"
      @close="handleClose"
      @open="handleOpen"
      class="menu"
    >
      <el-submenu index="1">
        <template slot="title">
          <i class="iconfont icondata"></i>
          <span slot="title">Data</span>
        </template>
        <el-menu-item-group>
          <el-menu-item index="1-1" route="/progress">Progress 进度条</el-menu-item>
        </el-menu-item-group>
      </el-submenu>
    </el-menu>
    <div class="content">
      <router-view></router-view>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Home',
  data() {
    return {
      isCollapse: false
    }
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath)
      console.log(111)
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath)
    }
  }
}
</script>

